body{
	font-family: 'arial';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.parallax{
	background: url('kulichi.jpg');
	background-attachment: fixed;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.parallax h1{
	color: aqua;
	font-size: 70px;
}
.parallax .mask{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.content{
	z-index: 3;
}
.page{
	height: 300px;
}
.text{
	width: 1600px;
	margin-left: 130px;
}